/*ABOUT PAGE*/
.aboutText {
    font: 20px Avenir Next;
    color: #ffffff;
    margin-top: 50px;
    margin-right: 20px;
}

.animePic{
    width: 300px;
    height: 700px;
    margin-top: 50px;
    object-fit: cover;
}
/*ABOUT PAGE*/
