/*index.html*/
body.application{
    background: #000000;            /*Set background colour for body*/
}

/*NAVBAR*/
.navbar{
    font-family: Nanum Brush Script;
    text-decoration-color: #ffffff;

}

.navbar-brand{
    font-size: 36px;
    padding-left: 70px;

}

.menu{
    font-size: 24px;
    margin-right: 70px;

}

.margin{
    margin-right: 0;                /*Set margin between menu items*/
}


/*FOOTER*/
.footer{
    background-color: #000;
}

/*HOME PAGE WELCOME TEXT*/
.homeheader{
    text-align: center;
    font-family: Avenir Next;
    color: #ffffff;
    margin-bottom: 85px;

}
h1.homeheader{
    margin-top: 50px;
}

/*HOME PAGE BOX*/
.box{
    background-color: #2a2a2a;
    height: 160px;
    border-radius: 15px;
    margin-bottom: 65px;
}

.hover{
    border: solid 1px #00c89b;      /*Jquery to highlight box borders on mouseenter*/
}


.boxtext{
    padding-top: 20px;
    text-align: center;
    font-family: Avenir Next;
    font-size: 26px;
    color: #ffffff;

}

.homepagebtn{
    width: 250px;
    height: 77px;
    margin-top: 40px;
    margin-right: 35px;
    background-color: #4A4A4A;
    color: #ffffff;
    font-family: Nanum Brush Script;
    font-size: 36px;
    border: none;
    -webkit-box-shadow: 5px 2px 10px 9px rgba(0,0,0,50), inset 0 0 24px 24px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 2px 10px 9px rgba(0,0,0,50), inset 0 0 24px 24px rgba(0,0,0,0.5);
    -o-box-shadow: 5px 2px 10px 9px rgba(0,0,0,50), inset 0 0 24px 24px rgba(0,0,0,0.5);
    box-shadow: 5px 2px 10px 9px rgba(0,0,0,50), inset 0 0 24px 24px rgba(0,0,0,0.5);
}

/*REFERENCE PAGE*/



h1 h2{
    font-family: Avenir Next;       /*Reference page Titles*/
    color: #4A4A4A;
}
.wrapper{
    width: 460px;
    height: 680px;
}
.ref-box{
    width: 460px;
    height: 680px;
    background-color: #2A2A2A;
    margin-bottom: 50px;
    padding-bottom: 100px;
}
.img-box{
    margin: 20px;
    padding-top: 20px;
}

table td{
    border: 1px solid #979797;
    padding: 20px;
    color: #ffffff;                 /*Borderless Table*/
    font-family: Avenir Next;
    font-size: 17px;
}

.table-div{
    padding-top: 20px;
}

.animeUniverse{
    width: 100%;
    height: 100%;
    object-fit: cover;
    outline: 1px #2a2a2a solid;
    outline-offset: -1px;
    -webkit-box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.5);
    -o-box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.5);
}


/*ABOUT PAGE*/

.aboutText {
    font-family: Avenir Next;
    color: #ffffff;
    margin-top: 50px;
    padding-bottom: 100px;
    text-shadow: 5px 2px 9px rgba(0, 200, 155, 100);
}

.animePic{
    width: 300px;
    height: 700px;
    margin-top: 50px;
    object-fit: cover;
    -webkit-box-shadow: inset 0 25px 120px 35px rgba(0,0,0,100);
    -moz-box-shadow: inset 0 25px 120px 35px rgba(0,0,0,100);
    -o-box-shadow: inset 0 25px 120px 35px rgba(0,0,0,100);
    box-shadow: inset 0 25px 120px 35px rgba(0,0,0,100);

}

/*DASHBOARD*/

.stage{
    background-color: #2a2a2a;
}

.list-stage{
    height: 733px;
}

.pie-stage{
    height: 340px;
}

.definition-stage{
    height: 222px;
}

.generator-stage{
    height: 486px;
}

.bar-stage{
    height: 372px;
}

.random-stage{
    height: 240px;
}

.results-stage{
    height: 225px;
}

.list-btn{
    background: none;
    border: none;
    padding: 10px 0 0 15px;
    font-family: Helvetica;
    color: #4a4a4a;
    font-size: 24px;
}

.m{
    padding-left: 35px;

}

.to{
    padding-left: 25px;
}

rect:hover {
    fill: #00c89b;  /* fill with a yellow */
}

#tooltip {
    position: absolute;
    padding: 5px 10px;
    background: white;
    border-radius: 3px;
    font-family: Avenir Next;   /* we need to import this font*/
    font-weight: bold;
}

.axis text{
    font: 10px Avenir Next;
    stroke: #9b9b9b;
}

.axis path,
.axis line{
    fill: none;
    stroke: #9b9b9b;
    shape-rendering: crispEdges;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 768px) {
    .box {
        height: 400px;
    }

    .homepagebtn{
        margin-top: 20px;
        margin-left: 45px;
    }
}