/*index.html*/
body.application{
    background: #000000       /*Set background colour for body*/
}

/*NAVBAR*/
.navbar{
    font-family: Nanum Brush Script;

}

.navbar-inverse .navbar-brand{
    font-size: 36px;
    padding-left: 70px;
    color: #ffffff
}

.navbar-inverse .navbar-brand:hover {
    text-shadow: 4px 4px 9px #0c85be;
}

.menu{
    font-size: 24px;
    margin-right: 70px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a:hover{
    text-shadow: 4px 4px 9px #0c85be;
}

.margin{
    margin-right: 0;                /*Set margin between menu items*/
}
/*NAVBAR*/


/*FOOTER*/
#footer{
    position: absolute;
    width: 100%;
    padding-top: 10px;
    margin-top: 100px;
    background-color: #222222;
    height: 200px;
    left: 0;
}

.footer-div {
    margin-top: 10px;
    border-right: 1px solid #9b9b9b;
}

.footer-other{
    margin-top: 10px;
}

.both{
    border-left: 1px solid #9b9b9b;
}

#name{
    font-size: 18px;
    color: #9b9b9b;
}

#image-cred{
    padding-top: 45px;
}

.foot{
    padding-top: 10px;
    font: 12px Avenir Next;
    color: #9b9b9b
}

.title{
    font-size: 21px;
    color: #9b9b9b;
}

a{
    text-decoration: none;
}

.foto{
    font: 12px Avenir Next;
    color: #9b9b9b
}
/*FOOTER*/


/*HOME PAGE*/
.homeheader{
    text-align: center;             /*HOME PAGE WELCOME TEXT*/
    font-family: Avenir Next;
    color: #ffffff;
    margin-top: 50px;
}

h1{
    padding-bottom: 10px;
}

h2{
    margin-bottom: 50px;
}

.box{
    background: url('/static/assets/Bleach-280x800.jpg');
    height: 160px;
    border-radius: 15px;
    margin-bottom: 65px;
}

.img-top{
    background-position: 45% 25%;   /*Position for background image in box*/
}
.img-middle{
    background-position: 45% 55%;
}
.img-bottom{
    background-position: 45% 85%;
}

.hover-top{
    transition: 5s;
    background-position: 100% 100%;  /*transition for background image in box*/
}
.hover-mid{
    transition: 5s;
    background-position: 0% 85%;
}
.hover-bottom{
    transition: 5s;
    background-position: 0% 0%;
}

.centre{
    float: none;                    /*Put box in centre*/
    margin-left: auto;
    margin-right: auto;
}

.boxtext{
    padding-top: 40px;              /*text styles*/
    padding-left: 50px;
    text-align: center;
    font-family: Avenir Next;
    font-size: 26px;
    color: #ffffff;

}

.homepagebtn{
    width: 250px;
    height: 77px;
    margin-top: 40px;
    margin-left: 50px;
    background-color: #4A4A4A;
    color: #ffffff;
    font-family: Nanum Brush Script;
    font-size: 36px;
    border: none;
    border-radius: 15px;
    -webkit-box-shadow: 5px 2px 10px 9px rgba(0,0,0,50), inset 0 0 24px 24px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 2px 10px 9px rgba(0,0,0,50), inset 0 0 24px 24px rgba(0,0,0,0.5);
    -o-box-shadow: 5px 2px 10px 9px rgba(0,0,0,50), inset 0 0 24px 24px rgba(0,0,0,0.5);
    box-shadow: 5px 2px 10px 9px rgba(0,0,0,50), inset 0 0 24px 24px rgba(0,0,0,0.5);
}

.homepagebtn:focus{
    outline-color: #000;
    width: 245px;
    height: 70px;

}
/*HOME PAGE*/


/*REFERENCE PAGE*/
.ref-header{
    font-family: Avenir Next;       /*Reference page Titles*/
    color: #9b9b9b;

}
.wrapper{
    height: 680px;                  /*Wrapper for boxes*/
    background-color: #2A2A2A;
    margin-bottom: 50px;
}
.ref-box{
    height: 680px;                  /*Wrapper for table*/
    background-color: #2A2A2A;
    margin-bottom: 50px;
    margin-right: 10px;
    overflow-y: scroll;
}

.table-div{
    padding-top: 20px;              /*Table padding*/
    padding-bottom: 20px;
}

table td{
    border: 1px solid #9b9b9b;      /*Styles for Table*/
    padding: 20px;
    color: #ffffff;
    font: 18px Avenir Next;
}

#genre-table{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

#genre-table td{
    border: none;
}

.img-box{
    padding: 20px 20px 0px 20px;    /*Position for image in genre box*/
}

.animeUniverse{
    max-width: 100%;                    /*Styles for image*/
    max-height: 100%;
    object-fit: cover;
    outline: 1px #2a2a2a solid;
    outline-offset: -1px;
    -webkit-box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.5);
    -o-box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.5);
}

.genre-list{
    padding: 20px 40px 20px 40px;
    font-family: Avenir Next;
    font-size: 17px;
    color: white;
}
/*REFERENCE PAGE*/


/*ABOUT PAGE*/
.aboutText {
    font: 20px Avenir Next;
    color: #ffffff;
    margin-top: 50px;
    margin-right: 20px;
}

.animePic{
    width: 300px;
    height: 700px;
    margin-top: 50px;
    object-fit: cover;
}
/*ABOUT PAGE*/


/*DASHBOARD*/
#tour{
    margin:20px;
    margin-left: 0px;
}

.intro-button{
    width: 100px;
    height: 50px;
    background-color: #4A4A4A;
    color: #ffffff;
    font-family: Nanum Brush Script;
    font-size: 21px;
    border: none;
    -webkit-box-shadow: 5px 2px 10px 9px rgba(0,0,0,50), inset 0 0 24px 24px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 2px 10px 9px rgba(0,0,0,50), inset 0 0 24px 24px rgba(0,0,0,0.5);
    -o-box-shadow: 5px 2px 10px 9px rgba(0,0,0,50), inset 0 0 24px 24px rgba(0,0,0,0.5);
    box-shadow: 5px 2px 10px 9px rgba(0,0,0,50), inset 0 0 24px 24px rgba(0,0,0,0.5);
}

.intro-button:focus{
    outline-color: #0c85be;
}

.chart-title{
    color: #9b9b9b;
}

.stage{
    background: #2a2a2a;

}

.table-stage{
    height: 185px;
}

.pie-stage{
    height: 340px;
}

.select-stage{
    height: 340px;
}

.line-stage{
    height: 377px;

}

.dc-chart select{                   /*SELECT MENU STYLES*/
    width: 491px;
    height: 340px;
    background: #2a2a2a;            /*Style the select menu container */
    border: none;
}

.dc-select-option{
    padding: 15px 10px 10px 5px;
    font: 18px Avenir Next;         /*Style select menu text*/
    color: #ffffff;
}

option:first-child{
    background-color: #9b9b9b ;     /*style 'select all' option from select menu*/
    color: #FFFFFF;
}


.data {
                                    /*DATA TABLE STYLES*/
    font: 26px Avenir Next;
    color: #ffffff;
}

th{
    padding: 10px;
}

td{
    padding: 20px;

}

#pie-chart{
    margin-top: 50px;               /*PIE CHART STYLES*/
    margin-left: 25px;
}

#pie-chart svg{
    width: 320px;
    height: 280px;
}

.pie-slice-group{
    margin-top: 30px;
}

.pie-label{
    font: 16px Avenir Next;
    stroke: #ffffff;
}

#pie-chart path{
    stroke: #2a2a2a;
    stroe-width: 1px;
}

.dc-legend{
    margin-left: 10px;
}


.x-axis-label{
    font: 15px Avenir Next;        /*line CHART STYLES*/
    stroke: #9b9b9b;
}

.axis path,
.axis line{
    fill: none;
    stroke: #9b9b9b;
    shape-rendering: crispEdges;
}

svg text{
    stroke:#9b9b9b;
}

svg rect + text{
    font: 10px Avenir Next;
    stroke: #fff;
}
/*DASHBOARD*/





/*MEDIA QUERIES*/

@media screen and (max-width: 768px) {
    .box {
        height: 300px;
    }

    .small-centre{
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

}




/* ROW CHART STYLES AND D3 CHART
.list-btn{
    background: none;
    border: none;
    padding: 10px 0 0 15px;
    font-family: Helvetica;
    color: #4a4a4a;
    font-size: 24px;
}

.m{
    padding-left: 35px;

}

.to{
    padding-left: 25px;
}

rect:hover {
    fill: #00c89b;  fill with a yellow
}

#tooltip {
    position: absolute;
    padding: 5px 10px;
    background: white;
    border-radius: 3px;
    font-family: Avenir Next;   /* we need to import this font
    font-weight: bold;
}
/*