
#top-header{
    margin-top: 100px;
}

.homeheader{
    text-align: center;                                           /*HOME PAGE WELCOME TEXT*/
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    margin-top: 50px;
}

h1{
    padding-bottom: 10px;
}

.disclaimer{
    margin-bottom: 50px;
    text-align: center;
    color: #ffffff;
    font: 16px "Raleway", sans-serif;

}

.box{
    background: url('/static/assets/Bleach-280x800.jpg');       /*Background image*/
    height: 300px;
    border-radius: 15px;
    margin-bottom: 65px;
}

.boxtext{
    padding-top: 25px;                                          /*text styles*/
    text-align: center;
    font: 26px "Raleway", sans-serif;
    color: #ffffff;

}

.homepagebtn{
    display: block;                                             /*button styles*/
    width: 250px;
    height: 77px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    background-color: #4A4A4A;
    color: #ffffff;
    font-family: "Nanum Brush Script", 'Gloria Hallelujah', cursive;
    font-size: 36px;
    text-align: center;
    padding-top: 15px;
    border: none;
    border-radius: 15px;
    -webkit-box-shadow: 5px 2px 10px 9px rgba(0,0,0,50), inset 0 0 24px 24px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 2px 10px 9px rgba(0,0,0,50), inset 0 0 24px 24px rgba(0,0,0,0.5);
    -o-box-shadow: 5px 2px 10px 9px rgba(0,0,0,50), inset 0 0 24px 24px rgba(0,0,0,0.5);
    box-shadow: 5px 2px 10px 9px rgba(0,0,0,50), inset 0 0 24px 24px rgba(0,0,0,0.5);
}


.img-top{
    background-position: 50% 0%;   /*Position for background image in box*/
}

.img-middle{
    background-position: 50% 60%;
}

.img-bottom{
    background-position: 50% 100%;
}

.hover-top{
     transition: 5s;
     background-position: 100% 100%;  /*transition for background image in box*/
 }

.hover-mid{
    transition: 5s;
    background-position: 0% 85%;
}

.hover-bottom{
    transition: 5s;
    background-position: 0% 0%;
}

.centre{
    float: none;                    /*Centre box*/
    margin-left: auto;
    margin-right: auto;
}


.homepagebtn:focus{
    outline-color: #000;            /*Style for button focus*/
    width: 245px;
    height: 70px;
}

.warning{
    font-size: 12px;
}

#random-table{
    display: none;                  /*Table's wrapper div*/
}

#home-table{
    margin: auto;                   /*Table actual styles*/
}

#home-table td{
    border: none;
    color: #FFFFFF;
}

#home-table th{
    color: #FFFFFF;
}


#box-bottom{
    margin: 10px;
}


/*HOME PAGE*/

/*MEDIA QUERIES*/

@media screen and (min-width: 430px){   /* Reset background image for slightly larger screen */

    .box{
        height: 250px;
    }
    .img-top{
        background-position: 50% 10%;   /*Position for background image in box*/
    }

}

@media screen and (min-width: 741px){   /* Reset background image for slightly larger screen */
    .box{
        height: 200px;
    }
    .img-top{
        background-position: 45% 15%;
    }
}

@media screen and (min-width: 768px){   /* Reset background image for slightly larger screen */
    .box{
        height: 160px;
    }
    .img-top{
        background-position: 45% 25%;
    }
    .img-middle{
        background-position: 45% 55%;
    }
    .img-bottom{
        background-position: 45% 85%;
    }

    .hover-top{
        transition: 5s;
        background-position: 100% 100%;  /*transition for background image in box*/
    }
    .hover-mid{
        transition: 5s;
        background-position: 0% 85%;
    }
    .hover-bottom{
        transition: 5s;
        background-position: 0% 0%;
    }

    p.boxtext{
        padding-top: 40px;
    }
}