/*REFERENCE PAGE*/
.ref-header{
    font-family: Avenir Next;       /*Reference page Titles*/
    color: #9b9b9b;

}
.wrapper{
    height: 680px;                  /*Wrapper for boxes*/
    background-color: #2A2A2A;
    margin-bottom: 50px;
}
.ref-box{
    height: 680px;                  /*Wrapper for table*/
    background-color: #2A2A2A;
    margin: 0px 10px 50px 0px;
    overflow-y: scroll;
}

.table-div{
    padding: 20px 0px 20px 0px;     /*Table padding*/
}

table td{
    border: 1px solid #9b9b9b;      /*Styles for Table*/
    padding: 20px;
    color: #ffffff;
    font: 16px Avenir Next;
}

#genre-table{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

#genre-table td{
    border: none;
}

.img-box{
    padding: 20px 20px 0px 20px;    /*Position for image in genre box*/
}

.animeUniverse{
    max-width: 100%;                    /*Styles for image*/
    max-height: 100%;
    object-fit: cover;
    outline: 1px #2a2a2a solid;
    outline-offset: -1px;
    -webkit-box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.5);
    -o-box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.5);
}

.genre-list{
    padding: 20px 40px 20px 40px;
    font-family: Avenir Next;
    font-size: 17px;
    color: white;
}
/*REFERENCE PAGE*/

@media screen and (min-width: 741px){

    table td{
        font-size: 18px;
    }
}