.table-stage{
    height: 150px;                  /*Height for data tables*/
}

.data-style {
    padding: 15px;
    font: 18px "Raleway", sans-serif;      /*Set font and colour for data tables*/
    color: #ffffff;
}

th{
    padding: 10px;
}

td{
    padding: 20px;
}

.table-stage{
    display: block;
}


@media screen and (min-width: 300px){

    .small{
        display: none;              /*Hide small table*/
    }

}


@media screen and (min-width: 600px) {

    .data-style{
        font-size: 16px;            /*reset font size for small table*/
    }


    .big {
        display: none;              /*Hide big table*/
    }

    .small{
        display: block;             /*Display small table*/
    }

    #data-table-chart-small{
        margin-left: auto;
        margin-right: auto;
    }
}


@media screen and (min-width: 1200px){

     .data-style{
        font-size: 21px;            /*reset font size for small table*/
    }

    .table-stage{
        height: 185px;              /*Set styles for table on large screen*/
    }

    .data.style{
        font-size: 21px;
    }

     .small{
        display: none;
    }

     .big{
         display: block;
     }
}