.small-line-stage {
    height: 320px;
}

.mid-line-stage{
    height: 335px;
    display: none;
}

.big-line-stage{
    height: 377px;
    display: none;
}

.line-stage svg{
    padding-left: 20px;
}

.x-axis-label{
    font: 15px Avenir Next;        /*line CHART STYLES*/
    stroke: #9b9b9b;
}

.axis path,
.axis line{
    fill: none;
    stroke: #9b9b9b;
    shape-rendering: crispEdges;
}

svg text{
    stroke:#9b9b9b;
}

svg rect + text{
    font: 10px Avenir Next;
    stroke: #fff;
}



@media screen and (min-width: 768px){   /* min-width for desktop */

    .small-line-stage{
        display: none;
    }

    .mid-line-stage{
        display: block;
    }

}

@media screen and (min-width: 1200px){

    .mid-line-stage{
        display: none;
    }

    .big-line-stage{
        display: block;
    }
}
