#small-line-stage {
    height: 320px;              /*Set height for mobile screen and hide larger line charts*/
}

#mid-line-stage{
    height: 335px;
    display: none;
}

#big-line-stage{
    height: 377px;
    display: none;
}

#big-title{
    display: none;
}

#mid-title{
    display: none;
}

.line-stage svg{
    padding-left: 20px;          /*line chart style*/
    height: 355px;
}

.x-axis-label{
    font: 15px Avenir Next;
    stroke: #9b9b9b;
}

.axis path,
.axis line{
    fill: none;
    stroke: #9b9b9b;
    shape-rendering: crispEdges;
}

svg text{
    stroke:#9b9b9b;
}

svg rect + text{
    font: 10px Avenir Next;
    stroke: #fff;
}



@media screen and (min-width: 768px){

    #small-line-stage{
        display: none;             /*Display medium line chart, hide small*/
    }

    #mid-line-stage{
        display: block;
    }

    #mid-title{
        display: block;
    }

    #small-title{
        display: none;
    }

}

@media screen and (min-width: 990px){

    #big-line-stage{
        display: block;
        padding-left: 25px;
    }

    #big-title{
        display: block;
    }

    #mid-line-stage{
        display: none;
    }

    #mid-title{
        display: none;
    }
}

@media screen and (min-width: 1200px){

   #big-line-stage{
        padding-left: 5px;
    }
}
