#pie-stage{
    height: 340px;               /*PIE CHART STYLES*/
}

#pie-chart{
    margin-top: 50px;
    margin-left: 10px;

}

#pie-chart svg{
    width: 320px;
    height: 280px;
}

.pie-slice-group{
    margin-top: 30px;
}

.pie-label{
    font: 16px Avenir Next;
    stroke: #ffffff;
}

#pie-chart path{
    stroke: #2a2a2a;           /*Set colour of path between pie slices*/
    stroke-width: 1px;
}


@media screen and (min-width: 400px){

    #pie-chart{
        margin-left: 25px;
    }

}