{% extends "index.html" %}
{% block content %}

<div class="row">
   <div class="col-sm-8 col-lg-8">
       <div class="aboutText">
       <p>Sometimes choosing an anime to watch can be confusing.
           <br><br><br>
           Anime Dashboard makes it easier by showing you all the information you need,
           in order to choose something you want!
           <br><br><br>
           The information focuses on a few important factors to help. Popularity, average user rating, genre, type (movie, tv etc...) and number of episodes.
           <br><br><br>
           The data is static. If you would like to know more about the data it comes from
           <a href="https://www.kaggle.com/CooperUnion/anime-recommendations-database">Kaggle</a>
           <br><br><br>
           Definitions of genre and terminology were taken from
           google, wikepidia and <a href="https://reelrundown.com/animation/Anime-Genre-List">Reelrundown</a>

       </p>
       </div>
   </div>

    <div class="col-sm-4 col-lg-4">
        <div class="aboutImg">
            <img class="animePic" src="{{ url_for ('static', filename='assets/bleach.jpg')}}">
        </div>
    </div>
</div>

{% endblock %}
