{% extends "index.html" %}
{% block content %}

<div class="row">
   <div class="col-sm-8 col-lg-8">
       <div class="aboutText">
           <h1>About Anime Dashboard</h1>
           <p>Sometimes choosing an anime to watch can be confusing.
           <br><br><br>
           Anime Dashboard makes it easier by showing you all the information you need,
           in order to choose something you want to watch!
           <br><br><br>
           The information focuses on a few important factors. Popularity, average user rating, genre, type (movie, tv etc...) and number of episodes.
           <br><br><br><br>
           <h2>About the creator</h2>

       </div>
   </div>

    <div class="col-sm-4 col-lg-4">
        <div class="aboutImg">
            <img class="animePic" src="{{ url_for ('static', filename='assets/bleach.jpg')}}">
        </div>
    </div>
</div>

{% endblock %}
