{% extends "index.html" %}
{% block content %}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12">
            <div id="tour">
                <button class="intro-button" type="button" autofocus onclick="javascript:introJs().start();">Start Tour!</button>
            </div>

        <div class="row">

            <!--ANIME LIST SELECT MENU-->
            <div class="col-xs-12 col-sm-3 col-lg-3">
                <div class="table-wrapper">
                    <div class="chart-title">Results For</div>
                    <div class="table-stage stage">
                        <div id="data-table-chart-one" class="data" data-step="2" data-intro="After you choose an anime from the select menu,
                                you will be able to see it's information here."
                             style="font-weight: normal" data-position="right"></div>
                    </div>
                    <div class="table-stage stage">
                        <div id="data-table-chart-two" class="data"></div>
                    </div>
                    <div class="table-stage stage">
                        <div id="data-table-chart-three" class="data"></div>
                    </div>
                    <div class="table-stage stage">
                        <div id="data-table-chart-four" class="data"></div>
                    </div>
                </div>
            </div>
            <!--ANIME LIST SELECT MENU-->


             <!--PIE CHART-->
             <div class="col-xs-12 col-sm-9 col-lg-9">
                    <div class="row">
                        <div class="col-xs-12 col-sm-5 col-lg-5">
                            <div class="pie-wrapper">
                                <div class="chart-title">Anime Type</div>
                                <div class="pie-stage stage">
                                    <div id="pie-chart" data-step="3" data-intro="Cllick on a slice in this pie chart
                                    to select which type of anime you would like to look at."
                             style="font-weight: normal" data-position="right"></div>
                                </div>
                            </div>
                        </div>
            <!--PIE CHART-->


            <!--SELECT MENU-->
                        <div class="col-xs-12 col-sm-7 col-lg-7">
                            <div class="select-wrapper">
                                <div class="chart-title">Select Menur</div>
                                <div class="select-stage stage">
                                    <div id="select-chart" data-step="1" data-intro="Here is your select menu.
                                    Interacting with the other charts will filter the results you see here. Scroll through
                                    the list of anime titles and click the one you would like to know more about. To undo selections
                                    from any of the other charts, scroll to the top of this menu and click 'select all'."
                                            style="font-weight: normal" data-position="left"></div>
                                </div>
                            </div>
                        </div>
                    </div>
             <!--SELECT MENU-->


              <!--GENRE GENERATOR
                        <div class="col-xs-12 col-sm-4 col-lg-4">
                            <div class="genre-generator-wrapper">
                                <div class="chart-title">Genre Generator</div>
                                <div class="generator-stage stage">
                                    <div id="genre-generator"></div>
                                </div>
                            </div>
                        </div>
                    </div>
            <!--GENRE GENERATOR-->


            <!--LINE CHART-->
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="line-chart-wrapper">
                                <div class="chart-title">Popularity Compared with Average Rating</div>
                                <div class="line-stage stage">
                                    <div id="line-chart" data-step="4" data-intro="Click and drag on the line chart to select the range of
                                    ratings you would like to see in the select menu. This chart also tells you how popular an anime is by
                                     the number of members who have joined it's respective fan 'group'"
                                            style="font-weight: normal" data-position="left">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            <!--LINE CHART-->

            </div>



    </div>

    </div>
    </div>


<script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
{% endblock %}

