{% extends "index.html" %}
{% block content %}

<div class="row">
<div class="col-xs-12 col-sm-12 col-lg-12">
    <div class="row">

    <!--ANIME LIST TABLE-->
    <div class="col-xs-12 col-sm-3 col-lg-3">
        <div class="list-wrapper">
            <div class="chart-title">
            Highest Rated
            </div>
            <div class="list-stage stage">
                <div id="list-chart"></div>
            </div>
        </div>
    </div>
        <!--ANIME LIST TABLE-->
<div class="col-xs-12 col-sm-4 col-lg-4">
    <!--GENRE PIE CHART-->

        <div class="pie-wrapper">
            <div class="chart-title">
                Frequecy of Genre in Other Anime
            </div>
            <div class="pie-stage stage">
                <div id="pie-chart"></div>
            </div>
        </div>

        <!--GENRE PIE CHART-->

         <!--STAR CHART-->

        <div class="star-chart-wrapper">
            <div class="chart-title">
                Popularity Compared with Average Rating
            </div>
            <div class="star-stage stage">
                <div id="series-chart"></div>
            </div>
        </div>

       <!--STAR CHART-->
</div>

<div class="col-xs-12 col-sm-2 col-lg-2">
    <!--GENRE DEFINITION-->

        <div class="genre-wrapper">
            <div class="chart-title">
                Genre Definition
            </div>
            <div class="definition-stage stage">
                <div id="genre-definition"></div>
            </div>
        </div>

        <!--GENRE DEFINITION-->
    <!--RANDOM GENERATOR-->

        <div class="random-generator-wrapper">
            <div class="chart-title">
                Random Generator
            </div>
            <div class="random-stage stage">
                <div id="random-generator"></div>
            </div>
        </div>

    <!--RANDOM GENERATOR-->
</div>

        <!--ANIME GENERATOR-->
    <div class="col-xs-12 col-sm-3 col-lg-3">
        <div class="genre-generator-wrapper">
            <div class="chart-title">
                Genre Generator
            </div>
            <div class="generator-stage stage">
                <div id="genre-generator"></div>
            </div>
        </div>
    </div>
        <!--ANIME GENERATOR-->





    <!--RESULTS BOX-->
    <div class="col-xs-12 col-sm-5 col-lg-5">
        <div class="results-wrapper">
            <div class="chart-title">
                You are Seeing Results for
            </div>
            <div class="results-stage stage">
                <div id="results"></div>
            </div>
        </div>
    </div>
    <!--RESULTS BOX-->
    </div>

</div>
</div>
</div>


{% endblock %}

