{% extends "index.html" %}
{% block content %}

    <!--WELCOME MESSAGE-->

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">

               <h3 class="homeheader">Welcome To Anime Dashboard, the place where you can see stats on thousands
                   of anime titles.
               </h3><br>
               <h2 class="homeheader">Find your box and click the button!</h2>
        </div>
    </div>

    <!--FIRST BOX WITH INSTRUCTIONS AND BUTTON THAT POINTS TO 'NEWBIE' DASHBOARD-->
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="box">
               <div class="col-sm-6 col-md-6 col-lg-6">
                <p class="boxtext">If you have never seen anime,<br> or are very new to anime, click <br>the button in
                    this box! </p>
               </div>
                <div class="col-sm-2 col-lg-2"></div>
                    <a href="{{ url_for('dash') }}"><button type="button" class="btn btn-default col-sm-4 col-lg-4
                     text-left homepagebtn">NEWBIE
                    </button></a>
            </div>
        </div>
    </div>

    <!--SECOND BOX WITH INSTRUCTIONS AND BUTTON THAT POINTS TO 'SEASONED' DASHBOARD-->
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="box">
               <div class="col-sm-6 col-md-6 col-lg-6">
                <p class="boxtext">If you have seen  your fair <br>share of anime then you should <br>click the button
                    in this box! </p>
               </div>
                <div class="col-sm-2 col-lg-2"></div>
                    <a href="{{ url_for('dash') }}"><button type="button" class="btn btn-default col-sm-4 col-lg-4
                     text-left homepagebtn">SEASONED
                    </button></a>
            </div>
        </div>
    </div>

    <!--THIRD BOX WITH INSTRUCTIONS AND BUTTON THAT CHOOSES AND DISPLAYS A RANDOM ANIME-->
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="box">
                <div class="col-sm-6 col-md-6 col-lg-6">
                <p class="boxtext">Click the button in this box if you<br> would like us to suggest an anime<br> for
                    you right this very moment. </p>
               </div>
                <div class="col-sm-2 col-lg-2"></div>
                    <button type="button" class="btn btn-default col-sm-4 col-lg-4 text-left homepagebtn">LUCKY DIP
                    </button>

            </div>
        </div>
    </div>

    <script></script>
{% endblock %}
