{% extends "index.html" %}
{% block content %}

    <!--WELCOME MESSAGE-->

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h1 class="homeheader">Welcome To Anime Dashboard.
            </h1>
            <div class="row">
                <div class="col-lg-10 centre">
                    <h2 class="homeheader">Use the interactive dashboard that let's you see info on thousands of anime
                        titles, all on one page!
                    </h2>
                </div>
            </div>
        </div>
    </div>




    <!--FIRST BOX WITH INSTRUCTIONS AND BUTTON THAT POINTS TO 'NEWBIE' DASHBOARD-->
    <div class="row">
        <div class="col-sm-12 col-md-10 col-lg-10 centre">
            <div class="box img-top">
                <div class="xs-col-12 col-sm-6 col-md-6 col-lg-6">
                    <p class="boxtext">Use the dashboard to see ratings, popularity and genre.
                    </p>
                </div>
                <div class="xs-col-12 col-sm-6 col-md-6 col-lg-6">
                    <a href="{{ url_for('dash') }}">
                        <button type="button" class="homepagebtn">DASHBOARD
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>





    <!--SECOND BOX WITH INSTRUCTIONS AND BUTTON THAT POINTS TO 'SEASONED' DASHBOARD-->
    <div class="row">
        <div class="col-sm-12 col-md-10 col-lg-10 centre">
            <div class="box img-middle">
               <div class="xs-col-12 col-sm-6 col-md-6 col-lg-6">
                   <p class="boxtext"> Learn more about anime terminology and genres here!
                   </p>
               </div>
                <div class="xs-col-12 col-sm-6 col-md-6 col-lg-6">
                    <a href="{{ url_for('ref') }}">
                        <button type="button" class="homepagebtn">REFERENCE
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>



    <!--THIRD BOX WITH INSTRUCTIONS AND BUTTON THAT CHOOSES AND DISPLAYS A RANDOM ANIME-->
    <div class="row">
        <div class="col-sm-12 col-md-10 col-lg-10 centre">
            <div class="box img-bottom">
                <div class="xs-col-12 col-sm-6 col-md-6 col-lg-6">
                <p class="boxtext">This button will select an anime at random for you!
               </div>
                <div class="xs-col-12 col-sm-6 col-md-6 col-lg-6">
                    <button id="random" type="button" class="homepagebtn">LUCKY DIP
                    </button>
                    <div id="random-table">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script></script>
{% endblock %}
