{% extends "index.html" %}
{% block content %}


    <!--WELCOME MESSAGE-->
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h1 id="top-header" class="homeheader">Welcome To Anime Dashboard.
            </h1>
            <div class="row">
                <div class="col-lg-10 centre">
                    <h2 class="homeheader">The interactive dashboard let's you see info on thousands of anime
                        titles, all on one page!
                    </h2>
                    <p class="disclaimer">(Some titles listed on this site may not be suitable for viewers under 18.)</p>
                </div>
            </div>
        </div>
    </div>


    <!--FIRST BOX WITH INSTRUCTIONS AND BUTTON THAT POINTS TO 'NEWBIE' DASHBOARD-->
    <div class="row">
        <div class="col-sm-12 col-md-10 col-lg-10 centre">
            <div class="box img-top">
                <div class="xs-col-12 col-sm-6 col-md-6 col-lg-6">
                    <p class="boxtext">Use the dashboard to see ratings, popularity and genre.
                    </p>
                </div>
                <div class="xs-col-12 col-sm-6 col-md-6 col-lg-6">
                    <a class="homepagebtn" href="{{ url_for('dash') }}">DASHBOARD
                    </a>
                </div>
            </div>
        </div>
    </div>


    <!--SECOND BOX WITH INSTRUCTIONS AND BUTTON THAT POINTS TO 'SEASONED' DASHBOARD-->
    <div class="row">
        <div class="col-sm-12 col-md-10 col-lg-10 centre">
            <div class="box img-middle">
               <div class="xs-col-12 col-sm-6 col-md-6 col-lg-6">
                   <p class="boxtext"> Learn more about anime terminology and genres here!
                   </p>
               </div>
                <div class="xs-col-12 col-sm-6 col-md-6 col-lg-6">
                    <a class="homepagebtn" href="{{ url_for('ref') }}">REFERENCE
                    </a>
                </div>
            </div>
        </div>
    </div>


    <!--THIRD BOX WITH INSTRUCTIONS AND BUTTON THAT CHOOSES AND DISPLAYS A RANDOM ANIME-->
    <div class="row">
        <div class="col-sm-12 col-md-10 col-lg-10 centre">
            <div id="box-bottom" class="box img-bottom">
                <div class="xs-col-12 col-sm-6 col-md-6 col-lg-6">
                    <p class="boxtext">This button will select an anime at random for you!</p>
               </div>
                <div class="xs-col-12 col-sm-6 col-md-6 col-lg-6">
                    <button id="random" type="button" class="homepagebtn">LUCKY DIP
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="random-table">
                        <table id="home-table">
                            <thead>
                                 <tr>
                                     <th>Name</th>
                                     <th>Genre</th>
                                     <th>Rating</th>
                                 </tr>
                            </thead>
                            <tbody id="random-data">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for ('static', filename='js/home.js')}}"></script>

{% endblock %}
