<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anime Dashboard</title>
    <meta name="viewport" content="width=device-width initial-scale=1">
    <meta name="description" content="Find information on anime using our dahsboard">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/introjs.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/index.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/home.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/about.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/ref.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/Dashboard/dash-general.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/Dashboard/data-table.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/Dashboard/line-chart.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/Dashboard/pie-chart.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/Dashboard/select-menu.css')}}">

    <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/intro.js')}}"></script>
</head>

<body class="application">

<!--NAV BAR-->
<header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
       <div class="container-fluid">
           <div class="navbar-header">
               <a class="navbar-brand" href="dash">Anime Dashboard</a>
           <button type="button" class="navbar-toggle collapsed"
                   data-toggle="collapse" data-target="#collapse-menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
           </button>
           </div>
           <ul id="collapse-menu" class="nav navbar-nav navbar-right collapse navbar-collapse">
               <li class="menu margin"><a href="{{ url_for('home') }}">Home</a></li>
               <li class="menu margin"><a href="{{ url_for('ref') }}">Reference</a></li>
               <li class="menu about"><a href="{{ url_for('about') }}">About</a></li>
           </ul>
       </div>
    </nav>
</header>
<!--NAV BAR-->

<!--CONTENT-->
<div class="container">
   {% block content %}
   {% endblock %}
</div>
<!--CONTENT-->

<!--FOOTER-->
<footer id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="cos-sm-12 col-lg-12">
                <div class="row">
                    <div id="flex-container">

                        <div class="flex-item">
                            <ul>
                                <li class="title">Anime Dashboard</li>
                                <li class="foot"><a href="{{ url_for('about') }}">About</a></li>
                                <li class="foot"><a href="{{ url_for('home') }}">Home</a></li>
                                <li class="foot"><a href="{{ url_for('ref') }}">Reference</a></li>
                                <li class="foot"><a href="{{ url_for('dash') }}">Dashboard</a></li>
                            </ul>
                        </div>


                        <div class="flex-item">
                            <ul>
                                <li class="title">Created by</li>
                                <li id="name">Chris Toal</li>
                            </ul>
                        </div>


                        <div class="flex-item">
                            <ul>
                                <li class="title">Contact</li>
                                <li class="foot">E-mail: Christoal@outlook.com</li>
                                <li class="foot">Twitter: Chris_T888</li>
                                <li class="foot">Github: OMC86</li>
                            </ul>
                        </div>

                        <div class="flex-item">
                            <ul>
                                <li class="title">Sources</li>
                                <li class="foot">Home page image via <a href="http://pantallahd.com/fondo-pantalla-bleach-anime-hd/">pantallahd.</a></li>
                                <li class="foot">Reference page image via <a href="http://www.playbuzz.com/fiekevermeulen10/do-you-know-those-anime-characters">playbuzz.</a></li>
                                <li class="foot">About page image 1 via <a href="http://hdwall.us/anime/tablets-oekaki-musume-desktop-hd-wallpaper-460903/">hdwall.</a>image 2 via <a href="http://dragonball.wikia.com/wiki/File:Goku_cheering.png">dragonball.wikia.</a></li>
                                <li class="foot">Data via <a href="https://www.kaggle.com/CooperUnion/anime-recommendations-database">Kaggle</a></li>
                                <li class="foot">Definitions via<a href="https://reelrundown.com/animation/Anime-Genre-List">Reelrundown</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


</body>
</html>