{% extends "index.html" %}
{% block content %}
    <!--REFERENCE TITLE-->

    <div class="row">
        <div class="col-lg-3">
            <h1 class="ref-header">Reference</h1>
        </div>
    </div>


    <!--TERMINOLOGY BOX-->
    <div class="row">
         <div class="col-sm-6 col-lg-6">
             <div class="ref-wrapper">
                 <h2 class="ref-header">Terminology
                 </h2>
                 <div class="ref-box">
                     <div class="table-box">
                        <div class="table-div">
                            <table frame="void">
                                <tbody>
                                    <tr>
                                        <td class="td">ANIME</td>
                                        <td>A style of Japanese film and
                                            television animation, typically
                                            aimed at adults as well as children.
                                        </td>
                                    </tr>
                                    <tr>
                                    <td class="td">OVA</td>
                                    <td>Original Video Animation.
                                        Animated films and series, made
                                        specifically for home release
                                        without prior showings on television
                                        or in theatres.
                                    </td>
                                    </tr>
                                    <td class="td">ONA</td>
                                        <td>Original Net Animation.
                                        Animated films and series, made
                                        specifically for internet release
                                        without prior showings on television
                                        or in theatres.
                                        </td>
                                     </tr>
                                     <tr>
                                        <td class="td">SPECIAL</td>
                                        <td>Specials are usually stand alone
                                            episodes from a TV show. They might
                                            feature popular characters from
                                            other shows in collaboration. They
                                            might also be shorter or longer than
                                            a regular episode.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td dementia">DEMENTIA</td>
                                        <td>The Dementia tag is usually given
                                            to shows that try to toy with your
                                            mind by incorporating the metaphysical
                                            and the abstract.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td demons">DEMONS</td>
                                        <td>Demons is more of a sub-genre and
                                            will most likely include demon characters such as
                                            literal demons, monsters, beasts and ghouls .
                                        </td>

                                    </tr>
                                    <tr>
                                        <td class="td ecchi">ECCHI</td>
                                        <td>Ecchi is a mildly sexual genre,
                                            full of innuendos intended for
                                            a general audience.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td game">GAME</td>
                                        <td>Game tends to revolve around gaming
                                            and playing. From card games
                                            to board games as well as virtual
                                            reality and online games.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td harem">HAREM</td>
                                        <td>When several female characters have a love interest in
                                            the same male character. Harem is not always used for
                                            romance and instead, is sometimes just used for comic relief.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td hentai">HENTAI</td>
                                        <td>Hentai meaning 'pervert' in Japanese
                                            is for mature audiences. It focuses more on
                                            it's explicit content rather than story line progression.
                                        </td>
                                    </tr>
                                    <td class="td josei">JOSEI</td>
                                        <td>Josei is the female 18-40 demographic, but is considered
                                            a genre in anime. The focus is often on
                                            very realistic romance.
                                        </td>
                                    </tr>
                                    <td class="td mecha">MECHA</td>
                                        <td>Mecha stands for mechanical and this
                                            genre will almost always involve robots or people in mechanical
                                            suits.
                                        </td>
                                    </tr>
                                    <tr>
                                    <td class="td seinen">SEINEN</td>
                                        <td>The 18-40 male demographic, also considered a genre in anime. The
                                            content is usually more explicit and will not shy away from
                                            gore, sex and violence.
                                        </td>
                                    </tr>
                                    <td class="td shoujo">SHOUJO</td>
                                        <td>Shoujo is the 10-18 female demographic. These shows are
                                            idealized and well rounded and often shown in conjunction with
                                            romance and comedy.
                                        </td>
                                    </tr>
                                    <td class="td shoujo-ai">SHOUJO-AI</td>
                                        <td>Shoujo-ai means 'girl's love' and is about female
                                            characters (typically young girls) who share a mild
                                            romance with each other.
                                        </td>
                                    </tr>
                                    <td class="td shoujo">SHOUNEN</td>
                                        <td>Shonen is the 10-18 male demographic. The shows are usually well
                                            rounded and idealized. More often than not they become the most
                                            popular mainstream shows.
                                        </td>
                                    </tr>
                                    <td class="td shounen-ai">SHONEN-AI</td>
                                        <td>Shounen-ai translates to 'boy's love' and contains
                                            mild romance between male characters.
                                        </td>
                                    </tr>
                                    <td class="td slice-of-life">SLICE OF LIFE</td>
                                        <td> This genre portrays life in a very realistic sense.
                                            It’s role is to portray everyday life in the most
                                            realistic way possible.
                                        </td>
                                    </tr>
                                    <td class="td yaoi">YAOI</td>
                                        <td>Yaoi is the more sexually explicit counterpart to
                                            Shounen-ai (boy's love). This genre covers male to male
                                            relationships and will go all the way in both romance and intimacy.
                                        </td>
                                    </tr>
                                    <td class="td yuri">YURI</td>
                                        <td>Yuri is the much more sexually explicit counterpart to
                                            Shoujo-ai (girls's love). This genre covers female to female
                                            relationships and will not shy away from romance and intimacy.
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
             </div>
         </div>

    <!--GENRE LIST BOX-->
         <div class="col-sm-6 col-lg-6">
             <div class="ref-wrapper">
                 <h2 class="ref-header">Genre List</h2>
                 <div class="ref-box">
                    <div class="img-box">
                        <img class="animeUniverse" src="{{ url_for ('static', filename='assets/char.jpg')}}" alt="Anime
                        Characters">
                    </div>

                <!--PUT GENRE LIST HERE-->
                    <div class="col-lg-12">
                        <div class="row">
                            <table id="genre-table" frame="void">
                                <tr>
                                    <td class="g-table">Action</td>
                                    <td class="g-table">Adventure</td>
                                    <td class="g-table">Cars</td>
                                    <td class="g-table">Comedy</td>
                                </tr>
                                 <tr>
                                     <td class="g-table">Dementia</td>
                                     <td class="g-table">Demons</td>
                                     <td class="g-table">Drama</td>
                                     <td class="g-table">Ecchi</td>
                                </tr>
                                 <tr>
                                     <td class="g-table">Fantasy</td>
                                     <td class="g-table">Game</td>
                                     <td class="g-table">Harem</td>
                                     <td class="g-table">Hentai</td>
                                </tr>
                                 <tr>
                                     <td class="g-table">Historical</td>
                                     <td class="g-table">Horror</td>
                                     <td class="g-table">Josei</td>
                                     <td class="g-table">Kids</td>
                                </tr>
                                 <tr>
                                     <td class="g-table">Magic</td>
                                     <td class="g-table">Martial-arts</td>
                                     <td class="g-table">Mecha</td>
                                     <td class="g-table">Military</td>
                                </tr>
                                 <tr>
                                     <td class="g-table">Mystery</td>
                                     <td class="g-table">Parody</td>
                                     <td class="g-table">Police</td>
                                     <td class="g-table">Psycological</td>
                                </tr>
                                 <tr>
                                     <td class="g-table">Romance</td>
                                     <td class="g-table">Samurai</td>
                                     <td class="g-table">School</td>
                                     <td class="g-table">Sci-fi</td>
                                </tr>
                                 <tr>
                                     <td class="g-table">Seinen</td>
                                     <td class="g-table">Shoujo</td>
                                     <td class="g-table">Shoujo-ai</td>
                                     <td class="g-table">Shounen</td>
                                </tr>
                                 <tr>
                                     <td class="g-table">Shounen-ai</td>
                                     <td class="g-table">Slice of life</td>
                                     <td class="g-table">Space</td>
                                     <td class="g-table">Sports</td>
                                </tr>
                                 <tr>
                                     <td class="g-table">Super Power</td>
                                     <td class="g-table">Supernatural</td>
                                     <td class="g-table">Thriller</td>
                                     <td class="g-table">Vampire</td>
                                </tr>
                                <tr>
                                    <td class="g-table">Yaoi</td>
                                    <td class="g-table">Yuri</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>


{% endblock %}
