{% extends "index.html" %}
{% block content %}
    <!--REFERENCE TITLE-->

    <div class="row">
        <div class="col-lg-3">
            <h1 class="ref-header">Reference</h1>
        </div>
    </div>



    <!--GENRE LIST BOX-->
    <div class="col-sm-12 col-lg-12">
        <div class="ref-wrapper">
            <h2 class="ref-header sub">Genre List</h2>
            <div class="ref-box">
                <div class="img-box">
                    <img class="animeUniverse" src="{{ url_for ('static', filename='assets/char.jpg')}}" alt="Anime
                       Characters">
                </div>

                <!--PUT GENRE LIST HERE-->
                <div class="col-lg-12">
                    <div class="row">
                        <table id="genre-table">
                            <tr>
                                <td title="A style of Japanese film and television animation, typically aimed at adults as well as children.">
                                    Anime
                                </td>
                                <td title="Original Video Animation. Animated films and series, made specifically for home release without prior showings on television or in theatres."
                                >OVA
                                </td>
                                <td title="Original Net Animation. Animated films and series, made specifically for internet release without prior showings on television or in theatres."
                                >ONA
                                </td>
                                <td title="Specials are usually stand alone episodes from a TV show. They feature popular characters from other shows in collaboration. They might also be shorter or longer than a regular episode.">
                                    Special
                                </td>
                            </tr>
                            <tr>
                                <td title="Action is a genre in which the protagonist or protagonists end up in a series of challenges that typically include violence, extended fighting, physical feats, and frantic chases.">
                                    Action
                                </td>
                                <td title="An adventure is an event or series of events that happens outside the course of the protagonist's ordinary life, usually accompanied by danger, often by physical action.">
                                    Adventure
                                </td>
                                <td title="Typically a narrative that revolves around cars">
                                    Cars
                                </td>
                                <td title="The main emphasis of this genre is on humour">
                                    Comedy
                                </td>
                            </tr>
                            <tr>
                                <td title="The Dementia tag is usually given to shows that try to toy with your mind by incorporating the metaphysical and the abstract.">
                                    Dementia
                                </td>
                                <td title="Demons is more of a sub-genre and will most likely include demon characters such as literal demons, monsters, beasts and ghouls.">
                                    Demons
                                </td>
                                <td title="Drama is a genre that relies on the emotional and relational development of realistic characters.">
                                    Drama
                                </td>
                                <td title="Ecchi is a mildly sexual genre, full of innuendos intended for a general audience.">
                                    Ecchi
                                </td>
                            </tr>
                            <tr>
                                <td title="Fantasy is a fiction genre set in an imaginary universe, often but not always without any locations, events, or people from the real world.">
                                    Fantasy
                                </td>
                                <td title="Game tends to revolve around gaming and playing. From card games to board games as well as virtual reality and online games.">
                                    Game
                                </td>
                                <td title="When several female characters have a love interest in romance and instead, is sometimes just used for comic relief.">
                                    Harem
                                </td>
                                <td title="Hentai meaning 'pervert' in Japanese is for mature audiences. It focuses more on it's explicit content rather than story line progression.">
                                    Hentai
                                </td>
                            </tr>
                            <tr>
                                <td title="Historical fiction is a literary genre in which the plot takes place in a setting located in the past.">
                                    Historical
                                </td>
                                <td title="Horror is a genre of fiction which is intended to, or has the capacity to frighten, scare, disgust, or startle viewers by inducing feelings of horror and terror. ">
                                    Horror
                                </td>
                                <td title="Josei is the female 18-40 demographic, but is considered a genre in anime. The focus is often on very realistic romance.">
                                    Josei
                                </td>
                                <td title="Anime aimed at children">
                                    Kids
                                </td>
                            </tr>
                            <tr>
                                <td title="Magic or other supernatural elements are used as a main plot element, theme, or setting. Magic and magical creatures are common in many of these imaginary worlds.">Magic</td>
                                <td>Martial-arts</td>
                                <td title="Mecha stands for mechanical and this genre will almost always involve robots or people in mechan suits.">
                                    Mecha
                                </td>
                                <td title="A plot which involves the military in some capacity">
                                    Military
                                </td>
                            </tr>
                            <tr>
                                <td title="Fiction in which a detective, or other professional, solves a crime or series of crimes.">
                                    Mystery
                                </td>
                                <td title="a humorous or satirical imitation of a serious piece of literature or writing ">
                                    Parody
                                </td>
                                <td title="Fiction in which a detective, or police officer, solves a crime or series of crimes.">
                                    Police
                                </td>
                                <td title="genre that emphasizes interior characterization, as well as the motives, circumstances, and internal action which is derivative from and creates external action.">
                                    Psycological
                                </td>
                            </tr>
                            <tr>
                                <td title="The primary focus is on the relationship and romantic love between two people, and must have an emotionally satisfying and optimistic ending.">
                                    Romance
                                </td>
                                <td title="Roughly equivalent to western cowboy and swashbuckler films but with a focus on Japanese samurai swordsman.">
                                    Samurai
                                </td>
                                <td title="A plot that takes place at school">
                                    School
                                </td>
                                <td title="a genre of fiction dealing principally with the impact of actual or imagined science on society or individuals or having a scientific factor as an essential orienting component.">
                                    Sci-fi
                                </td>
                            </tr>
                            <tr>
                                <td title="The 18-40 male demographic, also considered a genre in anime. The content is usually more explicit and will not shy away from gore, sex and violence.">
                                    Seinen
                                </td>
                                <td title="Shoujo is the 10-18 female demographic. These shows are idealized and well rounded and often shown in conjunction with romance and comedy.">Shoujo
                                </td>
                                <td title="Shoujo-ai means 'girl's love' and is about female characters (typically young girls) who share a mild romance with each other." class="g-table">Shoujo-ai</td>
                                <td title="Shounen is the 10-18 male demographic. The shows are usually well rounded and idealized. More often than not they become the most popular mainstream shows.">
                                    Shounen
                                </td>
                            </tr>
                            <tr>
                                <td title="Shounen-ai translates to 'boy's love' and contains mild romance between male characters.">
                                    Shounen-ai
                                </td>
                                <td title="This genre portrays life in a very realistic sense. It’s role is to portray everyday life in the most realistic way possible.">
                                    Slice of life
                                </td>
                                <td title="A plot typically set in space or once in which the main characters must venture into space">
                                    Space
                                </td>
                                <td title="An anime which focuses on and around a sport.">
                                    Sports
                                </td>
                            </tr>
                            <tr>
                                <td title="Superpower is a popular culture term for a fictional superhuman ability. A main character in these anime will have some super ability">
                                    Super Power
                                </td>
                                <td title="Supernatural fiction is a genre exploiting or requiring as plot devices or themes some contradictions of the commonplace natural world and materialist assumptions about it.">
                                    Supernatural
                                </td>
                                <td title="Thriller is a broad genre. Thrillers are characterized and defined by the moods they elicit, giving viewers heightened feelings of suspense, excitement, surprise, anticipation and anxiety.">
                                    Thriller
                                </td>
                                <td title="The vampire genre will in some capacity involve creatures that feed off of human blood.">
                                    Vampire
                                </td>
                            </tr>
                            <tr>
                                <td title="Yaoi is the more sexually explicit counterpart to Shounen-ai (boy's love). This genre covers male to male relationships and will go all the way in both romance and intimacy.">
                                    Yaoi
                                </td>
                                <td title="Yuri is the much more sexually explicit counterpart to Shoujo-ai (girls's love). This genre covers female to female relationships and will not shy away from romance and intimacy.">
                                    Yuri
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="{{ url_for ('static', filename='js/ref.js')}}"></script>

{% endblock %}
